---
import CarrouselImages from "@Components/CarrouselImages";
import Layout from "@Layout/Layout.astro";
import carrouselImages from "@Data/images.json";
import Video from "@Components/Video";
import HistoryBanner from "@Components/HistoryBanner.astro";
---

<Layout title="Historia">
  <div class="flex flex-col gap-24">
    <HistoryBanner
      images={[
        {
          src: "/images/historiaFoto1.jpg",
          alt: "history-1",
        },
        {
          src: "/images/carrousel/carousel-10.jpg",
          alt: "history-2",
        },
      ]}
    />

    <CarrouselImages images={carrouselImages} client:load />

    <Video title="Video Tour" src="/videos/video1.mp4" client:visible />
  </div>
</Layout>
