---
import { BsTelephoneFill, BsEnvelopeFill, BsPinMapFill } from "react-icons/bs";
import { BiSolidCopyright } from "react-icons/bi";
---

<footer class="flex flex-col gap-6 m-auto py-24">
  <div class="flex flex-col gap-4 m-auto text-neutral-400">
    <a href="#" class="hover:text-white" aria-label="Telefonó de Polideportivo"
      ><BsTelephoneFill /> 000 000 000</a
    >
    <a href="#" class="hover:text-white" aria-label="Correo de Polideportivo"
      ><BsEnvelopeFill /> correo@dominio.com</a
    >
    <a
      href="#"
      target="_blank"
      class="hover:text-white"
      aria-label="Ubicación del Polideportivo"
      ><BsPinMapFill /> Encuentranos Aqui!</a
    >
    <a
      href="https://efrask.dev"
      target="_blank"
      class="hover:text-white"
      aria-label="Página clonada por efrask"
      ><BiSolidCopyright /> {new Date().getFullYear()} efrask.dev</a
    >
  </div>

  <span class="text-neutral-200"
    >Este clon fue creado únicamente con fines educativos y no tiene ninguna
    relación oficial con el Polideportivo Mercedes.</span
  >
</footer>

<style>
  footer a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
