---
import NavLink from "@Components/NavLink";
import HeaderNav from "./HeaderNav";

const { goBack } = Astro.props;
---

<header
  class="h-20 lg:px-36 md:px-12 px-8 w-[100%] flex fixed z-50 transition-colors"
>
  <nav class="flex flex-1 items-center justify-between font-bold w-full">
    <a href="/" class="">Polideportivo Mercedes</a>

    <div class="flex gap-16">
      {!goBack ? <HeaderNav client:load /> : <NavLink name="Volver" url="/" />}
    </div>
  </nav>
</header>

<style>
  header {
    font-family: "Open Sans";
  }
</style>

<script>
  window.onscroll = () => {
    window.scrollY > 50
      ? document.querySelector("header")?.classList.add("bg-neutral-900")
      : document.querySelector("header")?.classList.remove("bg-neutral-900");
  };
</script>

{!goBack && <script />}
